{
	"extends": "stylelint-config-recommended-scss",
	"plugins": [
		"stylelint-no-unsupported-browser-features"
	],
	"rules": {
		"indentation": "tab",
		"no-descending-specificity": null,
		"plugin/no-unsupported-browser-features": [true, {
			"browsers": [
				"last 2 Chrome versions",
				"last 2 Firefox versions",
				"last 2 Safari versions",
				"not IE 11"
			],
			"severity": "warning"
		}]
	}
}
